{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}{% if static %}Viewing{% else %}Editing{% endif %} Sprint{% endblock %}</h3>
    &nbsp;<p style="color: #aaa;">From {{ sprint['start_date'] }} to {{ sprint['end_date'] }}</p>
    <p style="margin-left:auto;"><a href="{{url_for('sprint.list_all')}}">Sprint List</a></p>
{% endblock %}

{% block content %}
{% if not static %}
<div id="Unscheduled" class="large reveal" data-reveal>
<h4>Tasks</h4>
{% for task in tasks %}
    <div class="task-container container" 
        task="{{ task }}" 
        story="{{ tasks[task].story_id }}" 
        id="{{ 'task_%d'%task }}" 
        update_url="{{ url_for('task.show',task_id=task,is_json=True) }}""
        recurring="{{tasks[task].recurring}}"
        unestimated_time="{{ 2 if not tasks[task].estimate else tasks[task].estimate - tasks[task].sum_sched }}">
        <div class="row task-header">
            <div class="small-2 columns epic-label">{{ epics[tasks[task].epic_id].epic }}</div>
            <div class="small-6 columns story-label">{{ stories[tasks[task].story_id].story }}</div>
            <div class="small-8 columns">{{ tasks[task].task }}</div>
            <div class="small-2 columns label float-right status {{ tasks[task]['status'].lower().replace(' ','-') }} " task="{{ task }}">{{ tasks[task].status }}</div>
        </div>
        <div class="row task-work">
            <div class="small-2 columns">Est:{{ tasks[task].estimate }}</div>
            <div class="small-6 columns hours-worked float-right">Scheduled:{{ tasks[task].sum_sched}}</div>
            <div class="small-8 columns note">Schedule-specific Note</div>
            <div class="small-2 columns label float-right " data-close>Schedule</div>
        </div>
    </div> 
{% endfor %}
<button class="button" id="unschedule-task">Unschedule Task</button>
<button class="button float-right" id="unplanned-task" data-open="UnplannedTask">Add Unplanned Task</button>
<button class="close-button" data-close aria-label="Close" > <span aria-hidden="true">&times;</span></button>
</div>
<div id="UnplannedTask" class="reveal" data-reveal>
<h4>Unplanend Task</h4>
<form id="newTask" data-abide onsubmit="return false;">
    <label >Epic 
        <select id='newTaskEpic'>
            <option value="" selcted>No Epic</option>
            {% for epic in epics if epics[epic].epic != 'No Epic' %}
                <option value="{{epic}}">{{epics[epic].epic}}</option>
            {% endfor %}
        </select>
    </label>
    <label >Story
        <select id='newTaskStory'>
            <option value="" selected>No Story</option>
            {% for story in stories if stories[story].story != 'No Story' %}
                <option class="hide" value="{{story}}" epic="{{stories[story].epic_id}}">{{stories[story].story}}</option>
            {% endfor %}
        </select>
    </label>
    <label class="newable">Task
        <select id="newTaskTask">
            <option value="NEW" selected>New Task</option>
            {% for task in unplanned_tasks %}
            <option class="hide" value="{{task.id}}" epic="{{task.epic_id}}" story="{{task.story_id}}">{{task.task}}</option>
            {% endfor %}
        </select>
        <input id="newTaskName" type="text" placeholder="New Task Name" class="editable" />
    </label>
    <button class="button" type="submit" id="create_new_task">AddTask</button>
</form>
<button class="close-button" data-close aria-label="Close" > <span aria-hidden="true">&times;</span></button>
</div>
<div id="RecurringCheck" class="reveal" data-reveal>
    <h3>This task is recurring, do you want to schedule it at this time every sprint?</h3>
    <button class="button" id="recurring_yes">Yes</button>
    <button class="button" id="recurring_no">No</button>
    <button class="close-button" data-close aria-label="Close" > <span aria-hidden="true">&times;</span></button>
</div>
<div id="LogWork" class="reveal" data-reveal>
    <h3>Log Work for Task</h3>
    <form data-abide onsubmit="return false;">
        <div class="name-field">
            <label>Hours: <input type="text" placeholder="2" class="editable" pattern="^-?\d+$" better_pattern="\d+\.?\d*" />
            <small class="error">Hours worked must be a integer.</small>
            </label>
        </div>
        <button type="submit" class="button" id="log_work_button">Log Work</button>
        <button class="button" data-close>Cancel</button>
    </form>
    <button class="close-button" data-close aria-label="Close" > <span aria-hidden="true">&times;</span></button>
</div>
{% endif %}
<h4>Total Hours Scheduled for Sprint: {{totals.sprint}}</h4>
{% for day in schedule %}
    {% if day[0] % 2 == 0 %}
        <div class="yellow">
    {% else %}
        <div class="green">
    {% endif %}
        {{day[1]}} {{day[1].strftime('%A')}} <em>Hours Scheduled for Day: {{totals['d'+day[1].strftime('%yyyy-%mm-%dd')]}}</em>
            {% for hour in day[2] %}
            <div style="display:flex;flex-direction:row;" id="r_{{day[0]}}_{{hour}}">
            <div class="small-2" >
                
            </div>
                {% for schedule in schedule_records if schedule.sprint_day == day[1] and schedule.sprint_hour == hour %}
                <div class="task-container container {% if not static %}scheduled{% endif %} top" 
                    {% if not static %} title="Click to change; Drag to reschedule" {% endif %}
                    hour="{{hour}}" day="{{day[1]}}"
                    index_day="{{day[0]}}"
                    task="{{ schedule.task_id }}" 
                    story="{{ tasks[schedule.task_id].story_id }}" 
                    id="{{ 'task_%d_%d'%(schedule.task_id,schedule.id) }}" 
                    schedule_id="{{ schedule.id }}"
                    recurring="{{ schedule.recurring_schedule }}"
                    update_url="{{ url_for('task.show',task_id=schedule.task_id,is_json=True) }}">
                    <div class="row">
                        <div class="small-2 columns epic-label">{{ epics[tasks[schedule.task_id].epic_id].epic }}</div>
                        <div class="small-6 columns story-label">{{ stories[tasks[schedule.task_id].story_id].story }}</div>
                        <div class="small-8 columns">{{ tasks[schedule.task_id].task }}</div>
                        <div {% if not static %}title="Click to update status"{% endif %} class="small-2 columns label float-right status {{ tasks[schedule.task_id]['status'].lower().replace(' ','-') }} " task="{{ tasks[schedule.task_id].task }}">{{ tasks[schedule.task_id].status }}</div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">Est:{{ tasks[schedule.task_id].estimate }}</div>
                        <div class="small-6 columns float-right">Worked:<span class="hours-worked">{{tasks[schedule.task_id].hours_worked}}</span></div>
                        {% if static %}
                        <div class="small-8 columns note">{% if schedule.note %}{{schedule.note}}{% elif not tasks[schedule.task_id].single_sprint_task == 1 %}⚠️Task in multiple sprints!{% endif %}</div>
                        <div class="small-2 columns"></div>
                        {% else %}
                        <div title="Click to edit note" class="small-8 columns"><input class="note" type="text" placeholder="Schedule-specific Note" 
                            {% if schedule.note %} value="{{ schedule.note }}" {% endif %} /></div>
                        <div title="Click to Log Work" class="small-2 columns label float-right log-work" >Log Work</div>
                        {% endif %}
                    </div>
                </div> 
                {% else %}
                <div class="unscheduled-container container {% if not static %}scheduled{% endif %}" 
                    hour="{{hour}}" 
                    day="{{day[1]}}" 
                    index_day="{{day[0]}}" 
                    id="unsch_{{day[0]}}_{{hour}}" ">
                    <div >No Task Scheduled{% if not static %} - click to schedule{% endif %}</div>
                    <div >&nbsp;</div>
                </div> 
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
<script>
    //{% block jquery %}
    //{% if not static %}
    $('.task-container').draggable({
        revertDuration: 0,
        revert: true
    });
    $('.unscheduled-container').droppable({
        over: function(event, ui) {
            $(this).addClass('invisible');
        },
        out: function(event, ui) {
            $(this).removeClass('invisible');
        }
    });
    unschedule = function(source,recurring){
        if (source.hasClass('unscheduled-container')) {
            return;
        }
        update_url = "{{url_for('sprint.schedule',sprint_id=sprint_id)}}?is_json=True";
        hour = source.attr('hour');
        day = source.attr('day');
        index_day = source.attr('index_day');
        task_id = source.attr('task');
        row = source.parent();
        schedule_id = source.attr('schedule_id');
        source.remove();
        if (recurring) {
            var ajax_data = {schedule_id:schedule_id,recurring:1};
        } else {
            var ajax_data = {schedule_id:schedule_id};
        }
        return $.ajax({
            url:update_url,
            data:ajax_data,
            type: 'DELETE',
            async:false,
            dataType: 'json'
        }).done(function(json) {
            if(json['task_id']!=task_id){
                throw 'Task ID doesn\'t match input';
            }
            row.append($('<div>')
                                .attr('class','unscheduled-container scheduled container')
                                .attr('hour',hour)
                                .attr('day',day)
                                .attr('id','unsch_'+index_day+'_'+hour)
                                .html('<div >No Task Scheduled - click to schedule</div><div >&nbsp;</div>')
                                .click(scheduled_click));
        }).fail(function (){
            //TODO: Revert? Reload?
        })
    };
    schedule = function(source,day,hour,task_id,recurring){
        if(task_id === undefined) {
            throw "Cannot schedule null task ID";
        }
        if(recurring === undefined) {
            recurring = false;
        }
        source_id = source.attr('id');
        console.log('scheduling task '+task_id+' in source '+source_id +' day: '+day+' hour: '+hour);
        if(source_id.startsWith('r')) {
            var row = source;
            row.children('.scheduled').remove();
        } else {
            var row = source.parent()
            source.remove();
        }
        if (recurring) {
            var ajax_data =  {task_id:task_id,sprint_day:day,sprint_hour:hour,recurring:1};
        } else { 
            var ajax_data = {task_id:task_id,sprint_day:day,sprint_hour:hour};
        }
        update_url = "{{url_for('sprint.schedule',sprint_id=sprint_id)}}?is_json=True";
        //console.log({task_id:task_id,sprint_day:day,sprint_hour:hour})
        return $.ajax({
            url: update_url,
            data: ajax_data,
            type: 'POST',
            dataType: 'json'
        }).done(function(json) {
            if (json.Success === true){
                console.log('Successfully updated schedule');
                //TODO: Should task schedule creation be function-ized?
                target = $('#task_'+task_id).clone(true)
                    .attr('id','#task_'+task_id+'_'+json.schedule_task.id)
                    .attr('day',day)
                    .attr('hour',hour)
                    .attr('schedule_id',json.schedule_task.id)
                    .addClass('scheduled')
                    .click(scheduled_click)
                    .draggable({
                        revertDuration: 0,
                        revert: true })
                    .droppable({drop: schedule_shuffle_drop});
                if (recurring) {
                    target.attr('recurring',1);
                } else {
                    target.attr('recurring',0);
                }
                target.children('div.task-header').click(scheduled_click);
                target.children('div.task-work').children('div.hours-worked').html('Worked: <span class="hours-worked">0</span>');
                target.find('div.note').html('<input class="note" type="text" placeholder="Schedule-specific Note" />')
                target.children('div.task-work').children('div.label.float-right').text('Log Work')
                    .addClass('log-work');
                row.append(target);
            } else {
                pretty_alert("Update failed unexpectedly. Please reload page.");
            }
        }).fail(function(xhr, status, errorThrown) {
            pretty_alert("Failed to update");
        }).always(function() {
            //pass
        });
    };

    bump = function(source,task_id){
        //TODO: Resolve bumping effect
        //Iteratively bump each item down the day, if an item falls off it is returned to 
        //unscheduled
        source_id = source.attr('id');
        var source_hour = source.attr('hour');
        source_day = source.attr('day');
        update_url = "{{url_for('sprint.schedule',sprint_id=sprint_id)}}?is_json=True";
        console.log('Bumping task '+task_id+'! to position of '+source_id+'(hour)'+source_hour);
        if (!source.hasClass('unscheduled-container')){
            var row = source.parent();
            source_task_id = source.attr('task');
            console.log('Target occupied by task '+source_task_id+', bumping that as well');
            locator = row.attr('id').split('_');
            l_day = locator[1];
            l_hour = Number(locator[2]);
            //bump task down one
            l_hour+=2;
            next_row_id = 'r_'+l_day+'_'+l_hour;
            next_row = $('#'+next_row_id);
            console.log('Next row is: '+next_row_id);
            unschedule(source);
            if(!(next_row.html() === undefined)){
                console.log(locator[2]+' Moving task '+source_id+' to row '+next_row_id);
                next_task = next_row.children('.scheduled');
                bump(next_task,source_task_id);
            }
            schedule(row,day,source_hour,task_id);
        } else {
            schedule(source,day,source_hour,task_id);
        }
    };

    update_note = function(submit_json,note) {
        update_url = "{{url_for('sprint.schedule',sprint_id=sprint_id)}}?is_json=True";
        submit_json.note = note;
        return $.ajax({
            url: update_url,
            data: submit_json,
            type: 'POST',
            dataType: 'json'
        });
    }

    scheduled_click = function(event,ui){
        var reschedule = $(this).hasClass('task-container');
        var hour = $(this).attr('hour');
        var day = $(this).attr('day');
        var source = $(this);
        var target = $(event.target);
        if (target.hasClass('log-work')){
            console.log('Logging work for task '+source.attr('task'));
            //FIXME: update_url should be set by flask, not hardcoded
            update_url = `/work/create/${$(this).attr('task')}?is_json=true`;
            $('#LogWork').foundation('open');
            $('#LogWork').submit(function (event){
                var add_work_field = $(this).find('input');
                var add_work = add_work_field.val();
                console.log(add_work);
                $.ajax({
                    url: update_url,
                    data: {work_date:day,hours_worked:add_work},
                    type: 'POST',
                    dataType: 'json'
                }).done( function() {
                    work_start = Number(target.parent().find('span.hours-worked').text());
                    target.parent().find('span.hours-worked').text(work_start+Number(add_work));
                }).always( function () {
                    add_work_field.val('');
                    $('#log_work_button').off('click');
                    $('#LogWork').off('submit');
                    $('#LogWork').foundation('close');
                })
            });
        } else if (target.hasClass('status')) {
            console.log('Updating Status for task ' + source.attr('task'));

            statuses = ['To-Do','In Progress','Done'];
            task_id = source.attr('task')
            current_status = target.text().trim();
            next_status = statuses[(statuses.indexOf(current_status) + 1) % 3];
            next_classes = 'small-2 columns label float-right status '+next_status.toLowerCase().replace(' ','-')
            target.text('Updating...')
            $.ajax({
                url: target.parent('div').parent('div').attr('update_url'),
                data: {status:next_status},
                type: 'POST',
                dataType: 'json'
            }).done(function() {
                target.attr('class',next_classes);
                target.text(next_status);
                console.log('Success?');
            }).fail(function(xhr, status, errorThrown) {
                        pretty_alert( "Sorry, there was a problem!" );
                        $("#task_status_"+task_id).text(current_status);
                        console.log( "Error: " + errorThrown );
                        console.log( "Status: " + status );
                        console.dir( xhr );
            }).always(function(xhr, status){
                console.log("Request to update status complete!");
            })
        } else if (target.hasClass('note')) {
            console.log('Updating Note for task '+source.attr('task')+' with schedule ID '+source.attr('schedule_id'));
            submit_json = {schedule_id:$(this).attr('schedule_id'),
                            sprint_day:$(this).attr('day'),
                            sprint_hour:$(this).attr('hour'),
                            task_id:$(this).attr('task')}
            target.attr('contentEditable','true');
            target.focus();
            target.keydown(function(e) {
                // trap the return key being pressed
                if (e.keyCode === 13) {
                    $(this).off('keydown');
                    $(this).off('blur');
                    var note = $(this).val().trim();
                    console.log("Pressed Enter, so updating note to "+ note);
                    $(this).text('Updating...');
                    $(this).attr('contentEditable','false');
                    update_note(submit_json,note);
                }
            });
            target.blur(function(e) {
                $(this).off('keydown');
                $(this).off('blur');
                note = $(this).val().trim();
                console.log("Blurred, so updating value to "+ note);
                $(this).text('Updating...');
                $(this).attr('contentEditable','false');
                update_note(submit_json,note);
            });//*/
        } else {
            //$('#Unscheduled')
            var recurring_task = target.parent().parent().attr('recurring');
            $('#Unscheduled').foundation('open');
            $('#newTask').off('submit');
            $('#newTask').submit(function (){
                var new_task_id = $('#newTaskTask').val();
                if(new_task_id == 'NEW'){
                    var story_id = $('#newTaskStory').val() == '' ? 0 : $('#newTaskStory').val();
                    var epic_id = $('#newTaskEpic').val() == '' ? 0 : $('#newTaskEpic').val();
                    var taskName = $('#newTaskName').val();
                    //FIXME: The create URL should be generated by jinja
                    $.ajax({
                        url:"/task/create/"+story_id+"?is_json=true",
                        data: {epic_id:epic_id,task:taskName},
                        type: 'POST',
                        dataType: 'json'
                    }).done(function (json){
                        new_task_id = json.task_id;
                        new_story_id = json.story_id;
                        new_epic_id = json.epic_id;
                        schedule(source,day,hour,new_task_id,false);
                        console.log('Added Task to source',source);
                        //FIXME: This is a naughty fix, but this page is pretty naughty to begin with
                        setTimeout(function() {
                            window.location.reload(true);
                        },2000);
                    }).fail(function (xhr,status,errorThrown){
                        pretty_alert('Could not create task');
                    });
                } else {
                    schedule(source,day,hour,new_task_id,false);
                }
                $('#UnplannedTask').foundation('close');
            })
            $('#Unscheduled').children('.task-container').click(function(event,ui){
                var new_recurring_task = $(this).attr('recurring');
                var new_task_id = $(this).attr('task');
                if (new_recurring_task == 1){
                   $('#recurring_yes').click(function (event){
                       schedule(source,day,hour,new_task_id,true);
                       $('#RecurringCheck').foundation('close');
                       $(this).off('click');
                   });
                   $('#recurring_no').click(function (event){
                       
                       schedule(source,day,hour,new_task_id,false)
                       $('#RecurringCheck').foundation('close');
                       $(this).off('click');
                   });
                   $('#Unscheduled').foundation('close');
                   $('#RecurringCheck').foundation('open');
                } else {
                    schedule(source,day,hour,new_task_id,false);
                    $('#Unscheduled').foundation('close');
                }
            });
            $('#Unscheduled').children('#unschedule-task').click(function(event,ui){
                if (recurring_task == 1) {
                   $('#Unscheduled').foundation('close');
                   $('#RecurringCheck').foundation('open');
                   $('#recurring_yes').click(function (event){
                       unschedule(source,true);
                       $(this).off('click');
                       $('#RecurringCheck').foundation('close');
                   });
                   $('#recurring_no').click(function (event){
                       unschedule(source,false);
                       $(this).off('click');
                       $('#RecurringCheck').foundation('close');
                   });

                } else {
                    unschedule(source,false);
                    $('#Unscheduled').foundation('close');
                }
            });
            $('#Unscheduled').on('closed.zf.reveal', function(){
                $('#Unscheduled').children('.task-container').off('click');
                $('#Unscheduled').children('#unschedule-task').off('click');
            });
        }
    };

    schedule_shuffle_drop = function(event,ui) {
            next_classes = 'label float-right status ';
            // Format source & target status formatting
            index_day = $(this).attr('index_day');
            task_id = ui.helper.attr('task');
            story_id = ui.helper.attr('story');
            hour = $(this).attr('hour');
            day = $(this).attr('day');
            parent = ui.helper.parent();
            unschedule(ui.helper);
            bump($(this),task_id);
        };
    //TODO: FIX THIS INTERACTION MODEL
    $('.scheduled').click(scheduled_click);
    $('.scheduled').droppable({ drop: schedule_shuffle_drop});
    //$('.log-work').click(add_time)
    $('#newTaskEpic').change(function(event,ui){
        var epic = $(this).val();
        $('#newTaskStory').children('option').each(function (){
            if($(this).attr('epic') == epic || $(this).val() == '') {
                $(this).removeClass('hide');
            } else {
                $(this).addClass('hide');
            }
        });
        if($('#newTaskStory').children(':selected').hasClass('hide')) {
            $('#newTaskStory').children(':selected').prop('selected',false);
        }
        console.log($(this).val());
    });
    $('#newTaskStory').change(function(event,ui){
        var story = $(this).val();
        $('#newTaskTask').children('option').each(function (){
            if($(this).attr('story') == story || $(this).val() == 'NEW') {
                $(this).removeClass('hide');
            } else {
                $(this).addClass('hide');
            }
        });
        if($('#newTaskTask').children(':selected').hasClass('hide')) {
            $('#newTaskTask').children(':selected').prop('selected',false);
        }
        console.log($(this).val());
    });
    $('#newTaskTask').change(function(event,ui){
        if($(this).val() == 'NEW'){
            $('#newTaskName').attr('contentEditable',true);
        } else {
            $('#newTaskName').val('');
            $('#newTaskName').attr('contentEditable',false);
        }
    });
    //{% endif %}
    //{% endblock %}
</script>