{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}All Sprints{% endblock %}</h3>
{% endblock %}

{% block content %}
{% if has_current_sprint %}
    <form method="post" action="{{url_for('sprint.active')}}" class="inline">
        No current sprint, <button type="submit" class="button small-2">create it now!</button>
    </form>
{% else %}
    <a href="{{url_for('sprint.active')}}">Go to Current Sprint</a>
{% endif %}
<div id="confirm" class="reveal" data-reveal>
<h3>Are you sure?</h3>
This cannot be undone.
<div>
    <button class="button" id="confirmDelete">Yes</button>
    <button class="button float-right" data-close>No</button>
</div>
<button class="close-button" data-close aria-label="Close" > <span aria-hidden="true">&times;</span></button>
</div>
{% for sprint in sprints %}
<div class="box">
<div class="row" style="border-color: white;border-style:solid;{% if sprint.id == current_sprint.id %}background:#FFFF0011;{% endif %}">
    <div class="column">
        Start Date {{ sprint['start_date'] }}<br>
        End Date {{ sprint['end_date'] }}<br>
        <a class="button" href="{{ url_for('sprint.show', sprint_id=sprint['id']) }}">View Sprint</a>
        <a class="button" href="{{ url_for('sprint.show',sprint_id=sprint['id'],static=False) }}">Schedule Sprint Tasks</a>
        <button class="button deletesprint" href="{{ url_for('sprint.show',sprint_id=sprint['id'])}}">Delete Sprint</button>
    </div>
    <div class="column">
        <h4>{% if sprint.id == current_sprint.id%}Current {% endif %}Sprint Summary:</h4>
        <ul>
            <li>Estimate of Work: {{ sprint.tasks | selectattr('estimate') | sum(attribute='estimate')}}</li>
            <li>Stories: {{ sprint['stories']|length }}</li>
            <li>Total Tasks: {{ sprint['tasks']|length }}</li>
        </ul>
    </div>
    <div class="column"></div>
</div>
</div>
{% endfor %}
{% endblock %}
<script>
    //{% block jquery %}
        $('.deletesprint').click(function(){
            var sprint_row = $(this).closest('.box');
            var sprint_url = $(this).attr('href');
            $('#confirmDelete').click(function(){
                $.ajax({  
                    url:sprint_url,
                    method:'DELETE'
                }).done(function(){
                    sprint_row.remove();
                }).fail(function() {
                    pretty_alert('Cannot delete sprint with tasks in it');
                });
                $('#confirm').foundation('close');
            });
            $('#confirm').foundation('open');
        });
    //{% endblock %}
</script>