{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}All Sprints{% endblock %}</h3>
{% endblock %}

{% block content %}
{% if has_current_sprint %}
    <form method="post" action="{{url_for('sprint.create_next')}}" class="inline">
        No current sprint, <button type="submit" class="button small-2">create it now!</button>
    </form>
{% else %}
    <a href="{{url_for('sprint.active')}}">Go to Current Sprint</a>
{% endif %}
{% for sprint in sprints %}
<div class="box">
<div class="row" style="border-color: white;border-style:solid;{% if sprint.id == current_sprint.id %}background:#FFFF0011;{% endif %}">
    <div class="column">
        Start Date {{ sprint['start_date'] }}<br>
        End Date {{ sprint['end_date'] }}<br>
        <a class="button" href="{{ url_for('sprint.show', sprint_id=sprint['id']) }}">View Sprint</a>
        <a class="button" href="{{ url_for('sprint.show',sprint_id=sprint['id'],static=False) }}">Schedule Sprint Tasks</a>
    </div>
    <div class="column">
        <h4>{% if sprint.id == current_sprint.id%}Current {% endif %}Sprint Summary:</h4>
        <ul>
            <li>Estimate of Work: {{ sprint.tasks | selectattr('estimate') | sum(attribute='estimate')}}</li>
            <li>Stories: {{ sprint['stories']|length }}</li>
            <li>Total Tasks: {{ sprint['tasks']|length }}</li>
        </ul>
    </div>
    <div class="column"></div>
</div>
</div>
{% endfor %}
{% endblock %}