{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Welcome{% endblock %}</h2>
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h4>Welcome Back {{ current_user.username }}</h4>
Here are Today's Tasks ({{ today }}):
{% for task in todays_tasks %}
    <p class="epic {{task.task.story.epic.color}}">{{ task.task.story.epic.epic }} - {{ task.task.story.story }}:{{ task.task.task }} </p>
{% endfor %}
{% else %}
<h4>Project Management for Regular people.</h4>
<p>
<em>Scrum</em> is about getting things done, but implementations of it
are geared toward teams, groups, organizations, and business people
doing business.</p>
<p>
<em>NoScrum</em> is about getting things done for yourself. With a focus on:
</p>
<ul>
    <li>Task-first Project Planning,</li>
    <li>Recognizing Productivity where it happens,</li>
    <li>Periodically reviewing goals and,</li>
    <li>Producing intermediate deadlines to achieve long-term goals</li>
</ul>
{% endif %}
{% endblock %}