noscrum/static/css/
noscrum/static/js/
noscrum/static/examples/
venv/
msvenv/
*.sqlite
*.bak

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.vscode
.env
.env.*
.vscode/

node_modules/
bower_components/
.hypothesis/
