{% if not asc %}
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Story for Epic: {{ epic['epic'] }}{% endblock %}</h1>
{% endblock %}
{% endif %}

{% block content %}
<div class="post">
    <form method="post" action="{{ url_for('story.create',epic_id=epic.id) }}" data-abide novalidate>
        <div class="cell">
            <label >Story
                <input type="text" name="story" id="story" aria-describedby="exampleHelpStory" data-abide-ignore required>
            </label>
            <p class="help-text" id="exampleHelpStory">Name of Story You are Creating.</p>
        </div>
        <div class="cell medium-6">
            <label for="prioritization">
                Prioritization
                <select id="prioritization" name="prioritization" required>
                    <option value="5">5 - Critical</option>
                    <option value="4">4 - High</option>
                    <option value="3">3 - Medium</option>
                    <option value="2">2 - Low</option>
                    <option value="1">1 - No Priority</option>
                </select>
            </label>
        </div>
        <div>
            <button class="button float-left" type="Submit" value="Create">Create</button>
            {% if asc %}<button class="button cancel float-right">Cancel</button>{% endif %}
        </div>
    </form>
</div>
{% if asc %}
<script>
$('.cancel').click(function(){
    story_id = $(this).attr('story');
    $(this).parent().parent().parent().parent().siblings('button').removeClass('invisible');
    $(this).parent().parent().parent().remove();
})
</script>
{% endif %}

{% endblock %}
