{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Tag Story {{ story.story }} {% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="">
    <h3>Story: {{ story.story }}</h3>
    <div id="story-tags" class="droppable" style="padding: .5rem; border: solid 1px black;">
        Drag tags here to add them to the Story.
        {% for tag in tags if tag.tag_in_story %}
            <div class="tag" id="tag_{{tag.Tag.id}}" tag_id="{{tag.Tag.id}}">{{ tag.Tag.tag }}</div>
        {% else %}
        {% endfor %}
    </div>
</div>
<h5>Available Tags:</h5>
<br>
<div id="avail-tags" style="padding: .5rem; border: solid 1px black;" class="droppable">
    {% for tag in tags if not tag.tag_in_story %}
        {% if tag.Tag %}
        <div class="tag draggable" id="tag_{{ tag.Tag.id }}" tag_id="{{tag.Tag.id}}">{{ tag.Tag.tag }}</div>
        {% else %}
        <div class="tag draggable" id="tag_{{ tag.id }}" tag_id="{{tag.id}}">{{ tag.tag }}</div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
<script>
    //{% block jquery %}
    //Make Tags Draggable
    $('.tag').draggable({
    revertDuration: 0,
    revert: function(dropped) {
        return true;
        var dropped = dropped &&
            (dropped[0].id == "story-tags" || dropped[0].id == "avail-tags") &&
            (dropped[0].id === $(this).parent().attr('id'));
        console.log('Drop was '+!dropped);
        return !dropped;}
    }).each(function() {
        var top = $(this).position().top;
        var left = $(this).position().left;
        var parent = $(this).parent().attr('id');
        var id = $(this).attr('id');
        $(this).data('parent',parent);
        $(this).data('orgTop', top);
        $(this).data('orgLeft',left);
    });

    $('.droppable').droppable({
        activeClass: 'ui-state-hover',
        hoverClass: 'ui-state-active'
    });
    $('#avail-tags').droppable({
        drop: function(event, ui){
            console.log("Moving Tag " + ui.helper.attr('id') + ' into ' + $(this).attr('id'));
            ui.draggable.position();
            if (ui.helper.parent().attr('id') == $(this).attr('id')){
                console.log('Tag already in target')
                return;
            }
            $.ajax(
                {
                    url: "{{ url_for('story.tag',story_id=story_id, is_json=True) }}",
                    data: {
                        tag_id:ui.helper.attr('tag_id')
                    },
                    type: "DELETE",
                    dataType: "json",
                }).done(function(json) {
                    console.log("Deleted the tag and all I got was this lousy object.");
                    console.log(json);
                    $("#avail-tags").append(ui.helper);
                }).fail(function(xhr, status, errorThrown) {
                    PrettyAlert( "Sorry, there was a problem!" );
                    console.log( "Error: " + errorThrown );
                    console.log( "Status: " + status );
                    console.dir( xhr );
                }).always(function(xhr, status){
                    console.log("Request to delete complete!");
                });
        }
    });
    $('#story-tags').droppable({
        drop: function(event, ui){
            console.log("Moving Tag " + ui.helper.attr('id') + ' into story-tags');
            if (ui.helper.parent().attr('id') == $(this).attr('id')){
                console.log('Tag already in target')
                return;
            }
            $.ajax(
                {
                    url: "{{ url_for('story.tag',story_id=story_id, is_json=True) }}",
                    data: {
                        tag_id:ui.helper.attr('tag_id')
                    },
                    type: "POST",
                    dataType: "json",
                }).done(function(json) {
                    console.log("Deleted the tag and all I got was this lousy object.");
                    console.log(json);
                    $('#story-tags').append(ui.helper);
                }).fail(function(xhr, status, errorThrown) {
                    PrettyAlert( "Sorry, there was a problem!" );
                    console.log( "Error: " + errorThrown );
                    console.log( "Status: " + status );
                    console.dir( xhr );
                }).always(function(xhr, status){
                    console.log("Request to delete complete!");
                });
        }
    });
    //{% endblock %}
</script>
