{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}{% if not static %}Editing{% endif %} Sprint Showcase{% endblock %}</h3>
    &nbsp;<p style="color: #aaa;">From {{ sprint['start_date'] }} to {{ sprint['end_date'] }}</p>
    <p style="margin-left:auto;"><a href="{{url_for('sprint.list_all')}}">Sprint List</a></p>
{% endblock %}

{% block content %}
<div id="reactComponents">
</div>
{% endblock %}
<script>
    //{% block jquery %}
    const app = require('app');
    app.renderSprintShowcase('reactComponents','{{sprint.id}}');
    //{% endblock %}
</script>
