{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}{% if not archive %}Task{% else %}Archive{% endif %} Showcase{% endblock %}</h2>
{% endblock %}

{% block content %}
<div id="reactComponents">
</div>
{% endblock %}
<script>
// {% block jquery %}
    const app = require('app');
    app.renderTaskShowcase('reactComponents', {{ 'true' if archive else 'false' }});
//{% if not archive %}
//{% endif %}
    $(".close-story").click( function () {
        var has_open_tasks = false;
        var story_id = $(this).attr('story_id');
        var story_url = $(this).attr('story_url');
        var close_url = $(this).attr('close_url');
        $.ajax(
            {url: story_url,
            dataType: 'json'}
        ).done(function (json) {
            tasks = json.story.tasks;
            for (const task in tasks){
                status = tasks[task].status;
                if (status != "Done"){
                    has_open_tasks = true;
                    break;
                }
            }
            if (has_open_tasks){
                // confirm
                PrettyAlert("A confirm was supposed to happen. Sorry it didn't.");
            }
            $.ajax({
                url: close_url,
                data: {closure: "Closed"},
                type: 'POST',
                dataType: 'json'
            }).done(function (json) {
                //hide story
                $('#story_'+story_id).addClass('hide');
                $('#story_summary_'+story_id).addClass('hide');
            });
            });
    });

    $(".open-story").click( function() {
        var story_id = $(this).attr('story_id');
        var story_url = $(this).attr('story_url');
        var close_url = $(this).attr('close_url');
        $.ajax({
            url: close_url,
            data: {closure: "Open"},
            type: 'DELETE',
            dataType: 'json'
        }).done(function (json) {
            //hide story
            $('#story_'+story_id).addClass('hide');
            $('#story_summary_'+story_id).addClass('hide');
        });
    });
// {% endblock %}
</script>
