{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}NotScrum{% endblock %}</h2>
{% endblock %}

{% block content %}
<h4>Project Management for Regular people.</h4>
<p>
<em>Scrum</em> is about getting things done, but implementations of it
are geared toward teams, groups, organizations, and business people
doing business.</p>
<p>
<em>NotScrum</em> is about getting things done for yourself. With a focus on
</p>
<ul>
    <li>Highly Granular Estimation</li>
    <li>A Single Project</li>
    <li>Task-first Project Planning</li>
    <li>Minimizing the Pain of Sprint Planning</li>
</ul>
{% endblock %}