{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}All Sprints{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if has_current_sprint %}
    <form method="post" action="{{url_for('sprint.create_next')}}" class="inline">
        No current sprint, <button type="submit" class="button small-2">create it now!</button>
    </form>
{% else %}
    <a href="{{url_for('sprint.active')}}">Go to Current Sprint</a>
{% endif %}
{% for sprint in sprints %}
<div class="box">
<div class="row">
    <div class="column">
        <h3>Sprint {{ sprint['id'] }}</h3>
        Start Date {{ sprint['startDate'] }}<br>
        End Date {{ sprint['endDate'] }}<br>
        <a class="button" href="{{ url_for('sprint.show', sprint_id=sprint['id']) }}">View Sprint</a>
    </div>
    <div class="column">
        <h4>Sprint Summary:</h4>
        <ul>
            <li>Estimate of Work: {{ sprint['estimate'] }}</li>
            <li>Stories: {{ sprint['stories'] }}</li>
            <li>Total Tasks: {{ sprint['tasks'] }}</li>
        </ul>
    </div>
    <div class="column"></div>
    <div class="column"></div>
</div>
</div>
{% endfor %}
{% endblock %}