{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Reporting and Analytics{% endblock %}</h2>
{% endblock %}

{% block content %}
<h4>Graph</h4>
<em>This is a pre-release. Code borrowed from d3-graph-gallery.com</em>
<div id="visualization">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/7.4.2/d3.min.js"></script>
{% endblock %}

<script>
    //{% block jquery %}
    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 30, bottom: 30, left: 60},
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#visualization")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    //Read the data;
    populate_svg = async function(type,viz_svg){
        var graph_data = await d3.json("{{url_for('work.list_for_dates',start_date='2022-01-01',end_date='2022-05-30')}}&is_json=true");
        graph_data = graph_data.work_items
        for (i in graph_data){
            graph_data[i].work_date = d3.timeParse("%Y-%m-%d")(graph_data[i].work_date);
        }
        graph_data = d3.flatRollup(graph_data, v=>d3.sum(v,d => d.hours_worked), d=> d.work_date);
        console.log(graph_data);
        var x = d3.scaleTime()
            .domain(d3.extent(graph_data, function(d) { return d[0]; }))
            .range([ 0, width ]);
        viz_svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));
        var y = d3.scaleLinear()
            .domain([0, d3.max(graph_data, function(d) { return +d[1]; })])
            .range([ height, 0 ]);
        viz_svg.append("g")
            .call(d3.axisLeft(y));
        var c = d3.scaleSequential()
            .interpolator(d3.interpolateInferno)
            .domain(d3.extent(graph_data, function(d) {return d[2];}));
        viz_svg.selectAll("myBar").data(graph_data)
            .enter()
            .append("rect")
                .attr("fill", function(d) {c(d[2])})
                .attr("x",function(d){ return x(d[0]) })
                .attr("y", function(d) { return y(d[1]) })
                .attr("width",function(d) {return 4;})
                .attr("height", function(d) {return height-y(d[1])})
    }

    populate_svg("Test",svg);

    //{% endblock %}
</script>