{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Create Tag{% endblock %}</h2>
{% endblock%}

{% block content %}
<div class="post">
    <form method="post" data-abide novalidate>
        <div class="cell">
            <label>
                Tag:
                <input type="text" placeholder="Writing" aria-describedby="exampleHelpTag" name="tag" id="tag" data-abide-ignore required>
            </label>
            <p class="help-text" id="exampleHelpTag">Tag Name (should be short)</p>
        </div>
        <button class="button" type="submit" value="create">Create</button>
    </form>
</div>
{% endblock %}
