{% if not asc %}
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Work for Task {{ task.task }}{% endblock %}</h1>
{% endblock %}
{% endif %}

{% block content %}
<form method="post" action="{{ url_for('work.create', task_id=task.id) }}" data-abide novalidate>
    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
    <label for="work_date">
        Work Completed on:
        <input type="date" name="work_date" id="work_date" >
    </label>
    <label for="hours_worked">
        Work Done:
        <input type="text" name="hours_worked" pattern="\d+\.?\d*" id="hours_worked" placeholder="3.5" aria-describedby="exampleHelpEstimate" >
        <span class="form-error">
            Expecting a number. Use partial hours to estimate minutes.<br>
            30m = .5, 15m=.25, etc.
        </span>
    </label>
    <label for="status">
        Status:
        <select name="status" id="status" >
            <option {% if task.status == 'ToDo' %} selected="True" {% endif %} value="ToDo" >ToDo</option>
            <option {% if task.status == 'InProgress' %} selected="True" {% endif %} value="InProgress" >InProgress</option>
            <option {% if task.status == 'Done' %} selected="True" {% endif %} value="Done" >Done</option>
        </select>
    </label>
    <label for="update_status">
        Update Task Status:
        <input type="checkbox" checked="True" name="update_status" id="update_status" />
    </label>
    <input type="hidden" name="task_id" value="{{ task.id }}">
    <button class="button" type="submit" value="Create" value="create-work">Create</button>
</form>
{%endblock%}

<script>
//{% block jquery %}
$('#work_date').val(new Date().toISOString().substr(0,10));
//{% endblock %}
</script>
