{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Task List{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for task in tasks %}
<h3>Task - {{ task.task }}</h3>
    {% for work in work_items if work.task_id == task.id %}
        {{ work.work_date }} - {{ work.hours_worked }} ({{ work.status }}) <button class="button delete" work_id="{{ work.id }}" id="delete_work_{{work.id}}" >Delete</button><br>
    {% endfor %}
    <button id="create_work_{{task.id}}" >Log Work</button>
{% endfor %}
{% endblock %}
